

body {
    background-color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

table {
    background-color: #e8edff;
    width: 80%;
    max-width: 600px;
    border: 1px solid white;
    margin: 25vh auto;
    border-radius: 10px;
    border-collapse: collapse;
}

td {
    color: midnightblue;
    font-family: sans-serif;
    font-size: 12px;
    padding: 10px;

}

.info {
    font-style: italic;
    opacity: .6;
}

.top {
    font-weight: bold;
    background: #b9c9fe;
}

.left {border-top-left-radius: 10px}
.right {border-top-right-radius: 10px}

tr {border-bottom: 1px solid white;}