body {
    background-color: #f1f1f1;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 22px;
    overflow: auto;
}

header, aside, section, footer {position: absolute;}

header {
    width: 100%;
    height: 250px;
    padding: 5px;
    border-bottom: 1px solid gray;
}

header h1, section p span, section h2, footer h3 {
    color: gray;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    line-height: 32px; 
}

header>img {
    background-color: white;
    max-width: 350px;
    max-height: 150px;
    display: block;
    margin: 15px auto;
    transform: rotate(-5deg);
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.25);
}

header h1 {
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.55);
    margin: 15px;
    padding-top: 25px;
}

section {
    width: 90%;
    top: 290px;
    max-height: 100vh;
    overflow: auto;
    margin-bottom: 20px;
    }

section p span {
    color: gray;
    border-bottom: 1px solid gray;
    display: inline-block;
    float: left;
    font-size: 2rem;
    margin: 10px 10px 20px;
    max-width: 200px;
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
}

section h2 {
    background-color: white;
    border: 1px solid lightgray;
    text-align: left;
    padding: 15px;
    margin-bottom: 0;

}

section p {
    background-color: white;
    border: 1px solid lightgray;
    margin-right: 15px;
    padding: 15px;
}

aside {
    margin: 9px 0;
    width: 90%;
    top: calc(290px + 100vh + 30px);
    height: 500px;
    overflow: auto;
    }

aside figure>img {
    max-width: 90%;
    border: 1px solid gray;
}


footer {
    border-top: 1px solid gray;
    text-align: center;
    width: 100%;
    top: calc(100vh + 850px);
}



@media (min-width: 800px) {
    section p {
        width: 25%;
        float: left;
    }
    
    aside {   
        max-width: 20%;
        top: 290px;
        
    }
    
    section {
        max-width: 75%;
        left: 25%;
        top: 290px;
    }
}